In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

In [3]:
# Display the data table for preview
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [4]:
# Display the data table for preview
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [9]:
# Combine the data into a single dataset
# Merge two dataframes using an inner join
merged_mice_df = pd.merge(mouse_metadata, study_results, on="Mouse ID")
# Display the merged data table for preview
merged_mice_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [6]:
#Check for rows w missing data
merged_mice_df.count()

Mouse ID              1893
Drug Regimen          1893
Sex                   1893
Age_months            1893
Weight (g)            1893
Timepoint             1893
Tumor Volume (mm3)    1893
Metastatic Sites      1893
dtype: int64

In [8]:
#Verify data types
merged_mice_df.dtypes

Mouse ID               object
Drug Regimen           object
Sex                    object
Age_months              int64
Weight (g)              int64
Timepoint               int64
Tumor Volume (mm3)    float64
Metastatic Sites        int64
dtype: object

In [11]:
merged_mice_df['Mouse ID'].value_counts()

g989    13
m546    10
k862    10
u196    10
g296    10
        ..
h428     1
l872     1
t573     1
x336     1
b447     1
Name: Mouse ID, Length: 249, dtype: int64

In [14]:
grouped_mice = merged_mice_df.groupby(['Mouse ID', 'Timepoint'])
# In order to be visualized, a data function must be used...
grouped_mice.count().head(10)

                    Drug Regimen  Sex  Age_months  Weight (g)  \
Mouse ID Timepoint
a203     0                     1    1           1           1
         5                     1    1           1           1
         10                    1    1           1           1
         15                    1    1           1           1
         20                    1    1           1           1
         25                    1    1           1           1
         30                    1    1           1           1
         35                    1    1           1           1
         40                    1    1           1           1
         45                    1    1           1           1

                    Tumor Volume (mm3)  Metastatic Sites
Mouse ID Timepoint
a203     0                           1                 1
         5                           1                 1
         10                          1                 1
         15                          1                 1
         20                          1                 1
         25                          1                 1
         30                          1                 1
         35                          1                 1
         40                          1                 1
         45                          1                 1

In [17]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# Optional: Get all the data for the duplicate mouse ID. 
duped_mice = merged_mice_df[merged_mice_df.duplicated(['Mouse ID', 'Timepoint'])]
duped_mice

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [ ]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.